<a href="https://colab.research.google.com/github/rajat4057/PythonBase/blob/master/Filter_n_sort_Exercise1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [0]:
import numpy as np
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [0]:
chipo=pd.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv",sep='\t')

### Step 4. How many products cost more than $10.00?

In [0]:
price=[float(i[1:-1]) for i in chipo['item_price']]

In [0]:
chipo['item_price']=price

In [16]:
chipo[chipo['item_price']>10]['item_name'].nunique()

31

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [20]:
chipo.groupby(by='item_name')['item_price']

### Step 6. Sort by the name of the item

### Step 7. What was the quantity of the most expensive item ordered?

In [38]:
chipo.head(2)

   order_id  quantity  ... choice_description item_price
0         1         1  ...                NaN       2.39
1         1         1  ...       [Clementine]       3.39

[2 rows x 5 columns]

### Step 8. How many times were a Veggie Salad Bowl ordered?

In [37]:
chipo[chipo['item_name']=='Veggie Salad Bowl'].count()

order_id              18
quantity              18
item_name             18
choice_description    18
item_price            18
dtype: int64

### Step 9. How many times people orderd more than one Canned Soda?

In [35]:
chipo[(chipo['item_name']=='Canned Soda') & (chipo['quantity']>1)].count()

order_id              20
quantity              20
item_name             20
choice_description    20
item_price            20
dtype: int64