<a href="https://colab.research.google.com/github/rajat4057/PythonBase/blob/master/Grouping_Exercises3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Regiment

### Introduction:

Special thanks to: http://chrisalbon.com/ for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [0]:
import pandas as pd

### Step 2. Create the DataFrame with the following values:

In [0]:
raw_data = {'regiment': ['Nighthawks', 'Nighthawks', 'Nighthawks', 'Nighthawks', 'Dragoons', 'Dragoons', 'Dragoons', 'Dragoons', 'Scouts', 'Scouts', 'Scouts', 'Scouts'], 
        'company': ['1st', '1st', '2nd', '2nd', '1st', '1st', '2nd', '2nd','1st', '1st', '2nd', '2nd'], 
        'name': ['Miller', 'Jacobson', 'Ali', 'Milner', 'Cooze', 'Jacon', 'Ryaner', 'Sone', 'Sloan', 'Piger', 'Riani', 'Ali'], 
        'preTestScore': [4, 24, 31, 2, 3, 4, 24, 31, 2, 3, 2, 3],
        'postTestScore': [25, 94, 57, 62, 70, 25, 94, 57, 62, 70, 62, 70]}

### Step 3. Assign it to a variable called regiment.
#### Don't forget to name each column

In [0]:
regiment=pd.DataFrame(raw_data,columns=raw_data.keys())

In [7]:
regiment.head()

  company    regiment      name  postTestScore  preTestScore
0     1st  Nighthawks    Miller             25             4
1     1st  Nighthawks  Jacobson             94            24
2     2nd  Nighthawks       Ali             57            31
3     2nd  Nighthawks    Milner             62             2
4     1st    Dragoons     Cooze             70             3

### Step 4. What is the mean preTestScore from the regiment Nighthawks?

In [8]:
regiment[regiment['regiment']=='Nighthawks']['preTestScore'].mean()

15.25

### Step 5. Present general statistics by company

In [13]:
regiment.groupby(['company']).describe()

        postTestScore                              ... preTestScore
                count       mean        std   min  ...          25%   50%    75%   max
company                                            ...
1st               6.0  57.666667  27.485754  25.0  ...         3.00   3.5   4.00  24.0
2nd               6.0  67.000000  14.057027  57.0  ...         2.25  13.5  29.25  31.0

[2 rows x 16 columns]

### Step 6. What is the mean each company's preTestScore?

### Step 7. Present the mean preTestScores grouped by regiment and company

### Step 8. Present the mean preTestScores grouped by regiment and company without heirarchical indexing

### Step 9. Group the entire dataframe by regiment and company

### Step 10. What is the number of observations in each regiment and company

### Step 11. Iterate over a group and print the name and the whole data from the regiment