<a href="https://colab.research.google.com/github/rajat4057/PythonBase/blob/master/Merge_Exercise_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# MPG Cars

### Introduction:

The following exercise utilizes data from [UC Irvine Machine Learning Repository](https://archive.ics.uci.edu/ml/datasets/Auto+MPG)

### Step 1. Import the necessary libraries

In [0]:
import pandas as pd

### Step 2. Import the first dataset [cars1](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv) and [cars2](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv).

   ### Step 3. Assign each to a variable called cars1 and cars2

In [0]:
cars1=pd.read_csv('https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv')
cars2=pd.read_csv('https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv')

In [4]:
cars1.head()

    mpg  cylinders  displacement  ... Unnamed: 11  Unnamed: 12  Unnamed: 13
0  18.0          8           307  ...         NaN          NaN          NaN
1  15.0          8           350  ...         NaN          NaN          NaN
2  18.0          8           318  ...         NaN          NaN          NaN
3  16.0          8           304  ...         NaN          NaN          NaN
4  17.0          8           302  ...         NaN          NaN          NaN

[5 rows x 14 columns]

### Step 4. Ops it seems our first dataset has some unnamed blank columns, fix cars1

In [0]:
#cars1.drop(['Unnamed:9','Unnamed:10','Unnamed:11','Unnamed:12','Unnamed:13'])
cars1.drop(cars1.iloc[:,-5:],axis=1,inplace=True)

### Step 5. What is the number of observations in each dataset?

In [17]:
cars2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 9 columns):
mpg             200 non-null float64
cylinders       200 non-null int64
displacement    200 non-null int64
horsepower      200 non-null object
weight          200 non-null int64
acceleration    200 non-null float64
model           200 non-null int64
origin          200 non-null int64
car             200 non-null object
dtypes: float64(2), int64(5), object(2)
memory usage: 14.1+ KB

In [18]:
cars1.head()

    mpg  cylinders  displacement  ... model  origin                        car
0  18.0          8           307  ...    70       1  chevrolet chevelle malibu
1  15.0          8           350  ...    70       1          buick skylark 320
2  18.0          8           318  ...    70       1         plymouth satellite
3  16.0          8           304  ...    70       1              amc rebel sst
4  17.0          8           302  ...    70       1                ford torino

[5 rows x 9 columns]

In [19]:
cars2.head()

    mpg  cylinders  displacement  ... model  origin                 car
0  33.0          4            91  ...    76       3         honda civic
1  20.0          6           225  ...    76       1      dodge aspen se
2  18.0          6           250  ...    76       1   ford granada ghia
3  18.5          6           250  ...    76       1  pontiac ventura sj
4  17.5          6           258  ...    76       1       amc pacer d/l

[5 rows x 9 columns]

### Step 6. Join cars1 and cars2 into a single DataFrame called cars

In [0]:
cars=cars1.append(cars2)

In [24]:
cars.shape

(398, 9)

### Step 7. Ops there is a column missing, called owners. Create a random number Series from 15,000 to 73,000.

In [0]:
import numpy as np

In [0]:
np_owners=np.random.randint(15000,high=73001,size=398,dtype='l')

In [26]:
np_owners

array([23269, 46267, 19817, 17574, 60419, 33045, 17951, 42315, 63299,
       61735, 23593, 50956, 47038, 35739, 40297, 53645, 17963, 27804,
       50890, 67513, 20876, 24666, 37152, 28072, 65846, 18174, 61199,
       25590, 25360, 70337, 47812, 26039, 63414, 28062, 50534, 37266,
       15940, 70001, 67771, 38960, 34238, 70419, 49203, 27652, 43584,
       37837, 55296, 17997, 54364, 66463, 64219, 29822, 48901, 59659,
       70011, 63192, 62818, 38840, 15035, 45829, 62194, 60304, 26965,
       60980, 50011, 25939, 31232, 29049, 61181, 60699, 35818, 45551,
       52559, 52141, 56472, 42923, 42313, 65452, 63451, 53197, 39516,
       53191, 60653, 22882, 69721, 58784, 65021, 39896, 34000, 32366,
       32215, 28274, 58742, 36640, 42199, 67953, 62851, 55707, 26097,
       43072, 24045, 34388, 63690, 69662, 38988, 49585, 45360, 33936,
       18336, 53540, 55177, 31634, 28701, 43047, 42463, 43899, 28604,
       54540, 28299, 20097, 68379, 54706, 22253, 36732, 48368, 40453,
       40765, 29085, 30516, 60076, 49188, 19323, 49527, 66937, 68686,
       35367, 62498, 46616, 42551, 48313, 55769, 58653, 58099, 56826,
       50060, 21364, 52511, 64409, 20053, 47625, 66880, 40143, 63880,
       65026, 64500, 45108, 30735, 44034, 32290, 36573, 65678, 20176,
       67816, 17873, 32911, 37711, 71549, 50228, 54063, 36139, 71209,
       22018, 55837, 68325, 23300, 46558, 34523, 16359, 64930, 69914,
       41230, 53645, 45593, 53873, 17461, 43971, 40247, 53419, 69346,
       33453, 60682, 33766, 40406, 49078, 33631, 72363, 70221, 34840,
       26295, 42144, 52418, 52206, 39555, 39966, 21005, 71787, 60559,
       56584, 17683, 68721, 66222, 59850, 32623, 67197, 30611, 43208,
       43664, 38973, 29118, 58895, 19031, 32038, 60799, 44044, 38474,
       29073, 37877, 50333, 41649, 49371, 17286, 68401, 37205, 67967,
       36105, 22937, 54481, 51570, 24979, 66587, 56402, 65624, 24868,
       57719, 37105, 54688, 38239, 41804, 51398, 51196, 64600, 40073,
       62028, 35061, 25165, 52352, 20224, 33213, 57048, 15807, 23421,
       32875, 26388, 34697, 50673, 53960, 58153, 35655, 47934, 37633,
       20944, 62033, 39243, 42034, 67785, 18212, 39052, 67695, 71043,
       24340, 61555, 53212, 67724, 25678, 51830, 60384, 31584, 50755,
       28749, 62962, 54802, 61762, 64923, 30169, 46886, 57557, 25380,
       51656, 58801, 20751, 15052, 56505, 42840, 64180, 38523, 67522,
       54114, 53576, 26676, 16650, 60314, 34977, 30050, 64072, 64179,
       34343, 60137, 72952, 41882, 70657, 39924, 40400, 29580, 47306,
       56639, 21611, 53863, 27731, 67131, 19241, 51110, 19255, 58967,
       29037, 64790, 57040, 66094, 15143, 38208, 23427, 28948, 60127,
       68187, 19345, 23947, 18880, 52385, 37623, 66329, 33664, 29175,
       50294, 30508, 47468, 59750, 21846, 63901, 35532, 51070, 24809,
       55586, 27400, 51159, 67204, 55836, 23435, 18599, 36560, 42608,
       66944, 30750, 42429, 22861, 30378, 43933, 60664, 62837, 48672,
       66848, 45473, 51476, 21505, 27228, 41233, 23413, 16143, 58426,
       17835, 28148, 37549, 44512, 39971, 40273, 32192, 28113, 42387,
       30819, 36377])

### Step 8. Add the column owners to cars

In [0]:
cars['Owners']=np_owners
#len(np_owners)

In [31]:
cars.head()

    mpg  cylinders  displacement  ... origin                        car  Owners
0  18.0          8           307  ...      1  chevrolet chevelle malibu   23269
1  15.0          8           350  ...      1          buick skylark 320   46267
2  18.0          8           318  ...      1         plymouth satellite   19817
3  16.0          8           304  ...      1              amc rebel sst   17574
4  17.0          8           302  ...      1                ford torino   60419

[5 rows x 10 columns]

In [32]:
cars.shape

(398, 10)