<a href="https://colab.research.google.com/github/rajat4057/PandasExercises/blob/master/Stats_Exercise_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Wind Statistics

### Introduction:

The data have been modified to contain some missing values, identified by NaN.  
Using pandas should make this exercise
easier, in particular for the bonus question.

You should be able to perform all of these operations without using
a for loop or other looping construct.


1. The data in 'wind.data' has the following format:

In [0]:
"""
Yr Mo Dy   RPT   VAL   ROS   KIL   SHA   BIR   DUB   CLA   MUL   CLO   BEL   MAL
61  1  1 15.04 14.96 13.17  9.29   NaN  9.87 13.67 10.25 10.83 12.58 18.50 15.04
61  1  2 14.71   NaN 10.83  6.50 12.62  7.67 11.50 10.04  9.79  9.67 17.54 13.83
61  1  3 18.50 16.88 12.33 10.13 11.17  6.17 11.25   NaN  8.50  7.67 12.75 12.71
"""

'\nYr Mo Dy   RPT   VAL   ROS   KIL   SHA   BIR   DUB   CLA   MUL   CLO   BEL   MAL\n61  1  1 15.04 14.96 13.17  9.29   NaN  9.87 13.67 10.25 10.83 12.58 18.50 15.04\n61  1  2 14.71   NaN 10.83  6.50 12.62  7.67 11.50 10.04  9.79  9.67 17.54 13.83\n61  1  3 18.50 16.88 12.33 10.13 11.17  6.17 11.25   NaN  8.50  7.67 12.75 12.71\n'

   The first three columns are year, month and day.  The
   remaining 12 columns are average windspeeds in knots at 12
   locations in Ireland on that day.   

   More information about the dataset go [here](wind.desc).

### Step 1. Import the necessary libraries

In [0]:
import numpy as np
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/Wind_Stats/wind.data)

### Step 3. Assign it to a variable called data and replace the first 3 columns by a proper datetime index.

In [0]:
data=pd.read_csv('https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/Wind_Stats/wind.data',sep="\s+",parse_dates=[[0,1,2]])

In [3]:
data.head(2)

    Yr_Mo_Dy    RPT    VAL    ROS   KIL  ...    CLA    MUL    CLO    BEL    MAL
0 2061-01-01  15.04  14.96  13.17  9.29  ...  10.25  10.83  12.58  18.50  15.04
1 2061-01-02  14.71    NaN  10.83  6.50  ...  10.04   9.79   9.67  17.54  13.83

[2 rows x 13 columns]

### Step 4. Year 2061? Do we really have data from this year? Create a function to fix it and apply it.

In [0]:
import datetime

In [0]:
def date_convert(d):
  if d.year>1989:
    year=d.year-100
  else:
    year=d.year
  return datetime.date(year, d.month, d.day)

data['Yr_Mo_Dy']=data['Yr_Mo_Dy'].apply(date_convert)

In [9]:
data.head()

     Yr_Mo_Dy    RPT    VAL    ROS    KIL  ...    CLA    MUL    CLO    BEL    MAL
0  1961-01-01  15.04  14.96  13.17   9.29  ...  10.25  10.83  12.58  18.50  15.04
1  1961-01-02  14.71    NaN  10.83   6.50  ...  10.04   9.79   9.67  17.54  13.83
2  1961-01-03  18.50  16.88  12.33  10.13  ...    NaN   8.50   7.67  12.75  12.71
3  1961-01-04  10.58   6.63  11.75   4.58  ...   1.79   5.83   5.88   5.46  10.88
4  1961-01-05  13.33  13.25  11.42   6.17  ...   6.54  10.92  10.34  12.92  11.83

[5 rows x 13 columns]

### Step 5. Set the right dates as the index. Pay attention at the data type, it should be datetime64[ns].

In [0]:
data['Yr_Mo_Dy']=pd.to_datetime(data['Yr_Mo_Dy'])

In [0]:
data.set_index('Yr_Mo_Dy',inplace=True)

In [18]:
data.head()

              RPT    VAL    ROS    KIL  ...    MUL    CLO    BEL    MAL
Yr_Mo_Dy                                ...
1961-01-01  15.04  14.96  13.17   9.29  ...  10.83  12.58  18.50  15.04
1961-01-02  14.71    NaN  10.83   6.50  ...   9.79   9.67  17.54  13.83
1961-01-03  18.50  16.88  12.33  10.13  ...   8.50   7.67  12.75  12.71
1961-01-04  10.58   6.63  11.75   4.58  ...   5.83   5.88   5.46  10.88
1961-01-05  13.33  13.25  11.42   6.17  ...  10.92  10.34  12.92  11.83

[5 rows x 12 columns]

### Step 6. Compute how many values are missing for each location over the entire record.  
#### They should be ignored in all calculations below.

In [33]:
data.isnull().sum()

RPT    6
VAL    3
ROS    2
KIL    5
SHA    2
BIR    0
DUB    3
CLA    2
MUL    3
CLO    1
BEL    0
MAL    4
dtype: int64

### Step 7. Compute how many non-missing values there are in total.

In [34]:
data.notnull().sum()

RPT    6568
VAL    6571
ROS    6572
KIL    6569
SHA    6572
BIR    6574
DUB    6571
CLA    6572
MUL    6571
CLO    6573
BEL    6574
MAL    6570
dtype: int64

### Step 8. Calculate the mean windspeeds of the windspeeds over all the locations and all the times.
#### A single number for the entire dataset.

In [37]:
data.fillna(0).values.flatten().mean()

10.223864592840483

### Step 9. Create a DataFrame called loc_stats and calculate the min, max and mean windspeeds and standard deviations of the windspeeds at each location over all the days 

#### A different set of numbers for each location.

In [39]:
data.describe(percentiles=[])

               RPT          VAL  ...          BEL          MAL
count  6568.000000  6571.000000  ...  6574.000000  6570.000000
mean     12.362987    10.644314  ...    13.121007    15.599079
std       5.618413     5.267356  ...     5.835037     6.699794
min       0.670000     0.210000  ...     0.130000     0.670000
50%      11.710000    10.170000  ...    12.500000    15.000000
max      35.800000    33.370000  ...    42.380000    42.540000

[6 rows x 12 columns]

### Step 10. Create a DataFrame called day_stats and calculate the min, max and mean windspeed and standard deviations of the windspeeds across all the locations at each day.

#### A different set of numbers for each day.

In [0]:
day_stats=pd.DataFrame()
day_stats['min']=data.min(axis=1)
day_stats['max']=data.max(axis=1)
day_stats['mean']=data.mean(axis=1)
day_stats['std_dev']=data.std(axis=1)

In [44]:
day_stats.head()

             min    max       mean   std_dev
Yr_Mo_Dy
1961-01-01  9.29  18.50  13.018182  2.808875
1961-01-02  6.50  17.54  11.336364  3.188994
1961-01-03  6.17  18.50  11.641818  3.681912
1961-01-04  1.79  11.75   6.619167  3.198126
1961-01-05  6.17  13.33  10.630000  2.445356

### Step 11. Find the average windspeed in January for each location.  
#### Treat January 1961 and January 1962 both as January.

In [45]:
data.index

DatetimeIndex(['1961-01-01', '1961-01-02', '1961-01-03', '1961-01-04',
               '1961-01-05', '1961-01-06', '1961-01-07', '1961-01-08',
               '1961-01-09', '1961-01-10',
               ...
               '1978-12-22', '1978-12-23', '1978-12-24', '1978-12-25',
               '1978-12-26', '1978-12-27', '1978-12-28', '1978-12-29',
               '1978-12-30', '1978-12-31'],
              dtype='datetime64[ns]', name=u'Yr_Mo_Dy', length=6574, freq=None)

### Step 12. Downsample the record to a yearly frequency for each location.

### Step 13. Downsample the record to a monthly frequency for each location.

### Step 14. Downsample the record to a weekly frequency for each location.

### Step 15. Calculate the min, max and mean windspeeds and standard deviations of the windspeeds across all locations for each week (assume that the first week starts on January 2 1961) for the first 52 weeks.